<head>

	<body>
	
	<<strong style = "font-size :25px"><a href = "{{url_for('home')}}">HOME</a></strong>
		<<strong style = "font-size :25px"><a href = "{{url_for('about')}}">ABOUT</a></strong>
			<<strong style = "font-size :25px"><a href = "{{url_for('contact')}}">CONTACT US</a></strong>
	
		<table border = "1px solid black">
		<h3> Institute {{instname}} </h3>
			<thead>
			<th> SName </th> 
			<th> history </th>
			<th> phone number </th>
			</thead>
		</table>
		<table border = "1px solid black">
		<tr>
		<td>abc</td>
		<td>kajshdkj as hk</td>
		<td>8767868</td>
		</tr>
		<tr>
		<td>sonu</td>
		<td>ksdfhdkj as hk</td>
		<td>89889868</td>
		</tr>
		<tr>
		<td>chandu</td>
		<td>kj as hk</td>
		<td>3767868</td>
		</tr>
		</table>
		<table> </table>
		

	</body>

</head>